
button {
  margin: 20px;
}
.custom-btn {
  width: 200px;
  height: 100px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  text-shadow:  2px 2px 3px rgba(255,255,255,.5),
              -4px -4px 6px rgba(116, 125, 136, .2);
  outline: none;
}


/* 1 */
.btn-1 {
  background-image:url(../img/1.PNG);
  color: rgba(0, 0, 0, 0.5);
  border:5px;
  font-weight: bolder;
}
.btn-1:before {
  height: 0%;
  width: 2px;
}
.btn-1:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


/* 2 */
.btn-2 {
  background-image:url(../img/2.jpg);
  color: rgba(0, 0, 0, 0.5);
  border:5px;
  font-weight: bolder;
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* 3 */
.btn-3 {
  background-image:url(../img/3.PNG);
  color: rgba(0, 0, 0, 0.5);
  border:5px;
  font-weight: bolder;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* 4 */
.btn-4 {
  background-image:url(../img/4.PNG);
  color: rgba(0, 0, 0, 0.5);
  border:5px;
  font-weight: bolder;
}
.btn-4:before {
  height: 0%;
  width: 2px;
}
.btn-4:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* 5 */
.btn-5 {
  background-image:url(../img/5.PNG);
  color: rgba(0, 0, 0, 0.5);
  border:5px;
  font-weight: bolder;
}
.btn-5:before {
  height: 0%;
  width: 2px;
}
.btn-5:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* 6 */
.btn-6 {
  background-image:url(../img/6.PNG);
  color: rgba(0, 0, 0, 0.5);
  border:5px;
  font-weight: bolder;
}
.btn-6:before {
  height: 0%;
  width: 2px;
}
.btn-6:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}